<div class="container main-container">
	<div class="row">
		<div class="col-12 text-center">
			<p class="display-2 font-weight-bold text-dark" style="letter-spacing: 0.02em;">Welcome to Bookers!</p>
			<div>
				<%= link_to new_user_registration_path, method: :get do %>
				<span class="start-btn btn-info rounded"><i class="fa fa-user-plus pr-1 text-white"></i>Sign up</span>
				<% end %>
			</div>
		</div>
    </div>
</div>

