* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #6c6b6b;
}

/*-- 共有デザイン --*/
a {
	text-decoration: none;
}

.nav-li {
	list-style: none;
	line-height: 54px;
}

header {
	height: 70px;
	position: fixed;
	top: 0;
    width: 100%;
    text-align: left;
    z-index: 9999;
}

body {
	padding-top: 70px;
}

.header-title {
	letter-spacing: 0.07em;
	line-height: 70px;
	color: white;
	margin-left: 20px;
}

.flash-message {
	line-height: 60px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

/*-- top(トップ画面) --*/

.main-container{
	margin-top: 140px;
}

.start-btn {
	display: inline-block;
	font-size: 30px;
	font-weight: bold;
	margin: 50px auto;
	padding: 3px 13px;
	letter-spacing: 0.07em;
}

/*-- post_books(本一覧) --*/

.book-table {
	width: 100%;
	table-layout: fixed;
}

.columm-1 {
	width: 27%;
	overflow: hidden;
}

.columm-2 {
	width: 48%;
	overflow: hidden;
}

.columm-3 {
	width: 25%;
	overflow: hidden;
}

/*-- edit_post_book(本編集) --*/

.edit-container {
	width: 500px;
	margin: 0 auto;
}

/*-- post_book_show(本詳細) --*/

.show-container {
	width: 500px;
	margin: 0 auto;
}